:root {
  --main-color: #441244;
  --secondary-color:#BCBEC0;
  --up-vote:#1C7D69;
  --down-vote:#9b2c00;
  --up-vote-hover:#21967e;
  --down-vote-hover:#B51B09;
  --movie-title-size:1em;
  --menu-font-color: white;
  --button-font-color:black;
  --card-background-color:#9F9F9F;
  --card-title-background-color:#441244;
  --card-title-font-color:white;
  --card-title-font-size:1em;
  --vote-bar-color:#1C7D69;
}
body
{
    background-color:var(--secondary-color);
}
#main
{
    background-color:var(--secondary-color);
}
#bottom, #top
{
    color: var(--menu-font-color);
    background-color:var(--main-color);;
    height: 20%;
}
#bottom
{
    height: 5em;
}


 #left-bttn,#right-bttn
{
    font-size: 2em;
    width: 1.5em;
    height: 1.5em;
    font-size: 3em;
    border-radius: 3em;
    color: var(--button-font-color);
    margin: 0%;
    padding: 0%;
}


main .twelve.wide.column .movie-container .ui.grid .five.wide.column .ui.card
{
    font-size: var(--movie-title-size);
    border: 0px;
    border-color:  var(--secondary-color);
    margin-left: 2%;
}
main .twelve.wide.column .movie-container .ui.grid .five.wide.column .ui.card .image img
{
    border: 0px;
    border-color: var(--secondary-color);
    opacity: .6;

}
main .twelve.wide.column .movie-container .ui.grid .five.wide.column .ui.card .image img:hover
{
    border: 0px;
    border-color:var(--secondary-color);
    opacity: 1;
}

main .twelve.wide.column .movie-container .ui.grid .five.wide.column .ui.card .ui.center.aligned.segment
{
    background-color:var(--card-title-background-color);
    color: var(--card-title-font-color);
    margin: 0%;
    font-size: var(--card-title-font-size);
}
main .twelve.wide.column .movie-container .ui.grid .five.wide.column .ui.card .image
{
    width: 100%;
    height: 25em;
}
main .twelve.wide.column .movie-container .ui.grid .five.wide.column .ui.card .image img
{
    width: 100%;
    height: 100%;
}

main .twelve.wide.column .movie-container .ui.grid .five.wide.column .ui.card .extra.center.aligned.content
{
    background-color:var(--card-background-color) ;
    border-color:  var(--secondary-color);
    color: white;
    height: 3%;
    width: 100%;
}

main .twelve.wide.column .movie-container .ui.grid .five.wide.column .ui.card .extra.center.aligned.content .ui.two.attached.buttons .ui.green.button
{
    background-color:var(--up-vote);
    border-bottom-left-radius:1em;
    color: white;
}
main .twelve.wide.column .movie-container .ui.grid .five.wide.column .ui.card .extra.center.aligned.content .ui.two.attached.buttons .ui.green.button:hover
{
    background-color:var(--up-vote-hover);
}
main .twelve.wide.column .movie-container .ui.grid .five.wide.column .ui.card .extra.center.aligned.content .ui.two.attached.buttons .ui.red.button
{
    background-color:var(--down-vote);
    color: white;
    border-top-right-radius:1em;
}
main .twelve.wide.column .movie-container .ui.grid .five.wide.column .ui.card .extra.center.aligned.content .ui.two.attached.buttons .ui.red.button:hover
{
    background-color:var(--down-vote-hover);
}

main .twelve.wide.column .movie-container .ui.grid .five.wide.column .ui.card .extra.center.aligned.content .ui.tiny.progress .bar
{
    background-color:var(--vote-bar-color)
}
