body {
  background: #A0A0A0;
  padding: 0;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: gray;
  overflow: auto;
  color: black;
}

header h1 {
  float: left;
  width: 570px;
}

header nav {
  float: right;
  width: 285px;
}

main {
  background: white;
  overflow: auto;
}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}

footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}

.nav ul{
	list-style: none;
	background-color: #444444;
	text-align: center;
	padding: 0;
	margin: 0;
}

.nav li{
	font-family: 'Oswald'. sans-serif;
	font-size: 1.2em;
	line-height: 40px;
	height: 40px;
	border-bottom: 1px solid #888888;
	
}

.nav a{
	text-decoration: none;
	color: #ffffff;
	display: block;
}
.nav a:hover{
	background-color: #005f5f;
	transition: .3s background-color;
}
.nav a.active{
	background-color: #ffffff;
	color: #444444;
	cursor: default;
}

@media screen and (min-width: 1200px){
	.nav li{
		width: 120px;
		border-bottom: none;
		height: 50px;
		line-height: 50px;
		font-size: 1.4em;
		display: inline-block;
		margin-right: -4px;
	}
}

body .contact-info{
	float:right;
	width: 570px;
	font-size: 25px;
}
 .menu{
	 text-align:right;
 }

	
header .h1{
	text-align: center;
}


